#ignore collected static files
static/admin/*

#ignore database credentials
ShotForTheHeart/dbCredentials

#ignoring /env and moving to installing using pip install -r requirements.txt
env/

#ignoring .pyc files
*.pyc
