.btn-file{
	position: relative;
	overflow:hidden;
}
.info-label {
	font-weight:bold;
}

#information {
	text-align: left;
}

#file-display{
	display:block;
	width:100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
}

#profilePicture{
    display:none;
    margin:0 auto 40px auto;
}

	/*#profilePicture {*/
	/*    display:none;*/
	/*}*/
	/*#uploadButton{*/
	/*    display:none;*/
	/*}*/
	/*#uploadWarning{*/
	/*    display:block;*/
	/*}*/


@media screen and (max-width:768px){
    /*couldn't get this working*/
	#profilePicture {
	    width: 100%;
	    height: 720px;
	    margin 0 auto;
	}
}

@media screen and (min-width:768px){
    
	#profilePicture {
	    width: 400px;
	    height: 600px;
	}
}

@media screen and (min-width:992px){
	#profilePicture {
		width:425px;
		height:637.5px;
	}
}
@media screen and (min-width:1200px){
	#profilePicture {
		width:525px;
		height:787.5px;
	}
}