.btn-file{
	position: relative;
	overflow:hidden;
}
.info-label {
	font-weight:bold;
}

#information {
	text-align: left;
}

#file-display{
	display:block;
	width:100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
}

#profile-picture{
    display:none;
    margin-bottom:40px;
}

@media screen and (min-width:768px){
    /*couldn't get this working*/
	#profile-picture {
		width:400px;
		height: 405px;
	}
}

@media screen and (min-width:992px){
	#profile-picture {
		width:425px;
		height:637.5px;
	}
}
@media screen and (min-width:1200px){
	#profile-picture {
		width:525px;
		height:787.5px;
	}
}